/corehunter-lib/target/
/corehunter-cli/target/
/coreanalyser-cli/target/
/bin
/data/output/
.DS_Store
/.settings
/clean.sh
/clean_and_build.sh
/manual/*.aux
/manual/*.log
/manual/*.out
/manual/*.synctex.gz