export(exhaustiveSubsetSearch)
export(lrSearch)
export(semiLrSearch)
export(forwardSearch)
export(semiForwardSearch)
export(backwardSearch)
export(remcSearch)
export(mixedReplicaSearch)
export(localSearch)
export(steepestDescentSearch)
export(mstratSearch)
export(tabuSearch)